<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Логін</mat-label>
      <input
        #login
        matInput
        type="text"
        placeholder="Логін користувача"
        formControlName="login"
        maxlength="30"
      />
      <mat-hint align="end">{{ login.value?.length || 0 }}/30</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Пароль</mat-label>
      <input
        #password
        matInput
        type="password"
        placeholder="Пароль користувача"
        formControlName="password"
        maxlength="200"
      />
      <mat-hint align="end">{{ password.value?.length || 0 }}/200</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isSubmitting">
      Зберегти
    </button>
</form>